<!-- Services Start -->
<div class="container-fluid pt-5" id="service">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Service</h1>
            <h1 class="position-absolute text-uppercase text-primary">My Services</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-laptop service-icon bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0">Web Design</h4>
                </div>
                <p>I speciaize in modern website design which is made to grow your business </p>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-laptop-code service-icon bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0">Web App Development</h4>
                </div>
                <p>Service designed to cater your company to use Applications that will put you in competition with Big companies and also stay with the current ICT trends</p>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center mb-4">
                    <i class="fa fa-2x fa-edit service-icon bg-primary text-white mr-3"></i>
                    <h4 class="font-weight-bold m-0">Business Consulting</h4>
                </div>
                <p>My Business Consulting Services are structured to address a company’s end-to-end business needs. 
                    I provide comprehensive services to support your business by leveraging strategy to drive people, 
                    process, information and technology considerations. </p>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->