<!-- About Start -->
<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
            <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="./assets/img/abouit-1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Web Designer &amp; Developer </h3>
                <p>I am Phillip K Khunwana, a Creative and Analytical being who has an eye for Solutions in the design, 
                    development and business side of Information Technology. </p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">Philli K. Khunwana</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Birthday: <span class="text-secondary">24 January</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Qualifation: <span class="text-secondary">NDip Computer Science</span></h6></div>
                    <!-- <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">7 Years</span></h6></div> -->
                    <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">065 928 8115</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">info@mpowerk.co.za</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Address: <span class="text-secondary">Pretoria, SA</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Freelance: <span class="text-secondary">Available</span></h6></div>
                </div>
                <!-- <a href="documents/KPE KHUNWANA Resume.pdf" download> -->

                <a href="documents/KPE KHUNWANA Resume.pdf" download target="blank" class="btn btn-outline-primary mr-4">Donwload CV</a>
                <a href="#skill" class="btn btn-outline-primary">My Skills</a>
                
            </div>
        </div>
    </div>
</div>
<!-- About End -->