<!-- Testimonial Start -->
<div class="container-fluid py-5" id="testimonial">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Review</h1>
            <h1 class="position-absolute text-uppercase text-primary">Clients Say</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Very professional company, able to walk with you step by step on your website. I'm very happy to be able to work with them. Thank u for your professionalism.</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="https://lh3.googleusercontent.com/a-/AOh14GiDdSggZ7wmXiNxW25lmk0hqHMtPS0MIdXrT2C6=w120-h120-p-rp-mo-br100" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Dimakatso Mash Dietician</h5>
                        <span>Dietician <br>⭐️⭐️⭐️⭐️⭐️</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Impressed with the turn around time which is quicker than expected. Exceeded our expectations requested service and I would most definitely recommend them to anyone.</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="https://lh3.googleusercontent.com/a/AATXAJzFMS-j03_3yG3z0I0qHFI_Xxthj5iM37PJiZsu=w120-h120-p-rp-mo-br100" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Mmamolato F Kganyago</h5>
                        <span>Psychologist <br>⭐️⭐️⭐️⭐️⭐️</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">Professional and client-centered. I absolutely love their service
                        </h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="https://lh3.googleusercontent.com/a-/AOh14GiHz-QbCBbQJswX-TX-Dfb6lvawlxWZQaW6HhegbQ=w120-h120-p-rp-mo-br100" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Prudence Masanabo</h5>
                        <span>Business Consulting <br>⭐️⭐️⭐️⭐️⭐️</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">The level of service received from Mpowerk is of professionalism and excellence.</h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="https://lh3.googleusercontent.com/a-/AOh14GhE2-OckkDY8I2N6LHAibu6CqFJC2njyYk7yYGC1Q=w120-h120-p-rp-mo-br100" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Mosibudi</h5>
                        <span>Founder of Dinare Babirwa Foundation <br>⭐️⭐️⭐️⭐️⭐️</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">The team is 100% dedicated, delivers on time!!!
                        </h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="https://lh3.googleusercontent.com/a/AATXAJy2KZ-5RmADo7YAjKI9A-YypRdSFzlwA7P9PkBf=w120-h120-p-rp-mo-ba2-br100" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Lesego Moitsemang</h5>
                        <span>B&amp;B Owner <br>⭐️⭐️⭐️⭐️⭐️</span>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                        <h4 class="font-weight-light mb-4">The team is 100% dedicated, delivers on time!!!
                        </h4>
                        <img class="img-fluid rounded-circle mx-auto mb-3" src="https://lh3.googleusercontent.com/a/AATXAJwXbYa7LTKF--KdsOHqXEDRT6V3xH5NpXIT8dbI=w120-h120-p-rp-mo-br100" style="width: 80px; height: 80px;">
                        <h5 class="font-weight-bold m-0">Zikhona Makwetu</h5>
                        <span>Zest Picnics<br>⭐️⭐️⭐️⭐️⭐️</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->